#radio1:checked ~ .navigation-auto .auto1 {
  background-color: #000;
}

#radio2:checked ~ .navigation-auto .auto2 {
  background-color: #000;
}

#radio3:checked ~ .navigation-auto .auto3 {
  background-color: #000;
}

#radio4:checked ~ .navigation-auto .auto4 {
  background-color: #000;
}

#radio5:checked ~ .navigation-auto .auto5 {
  background-color: #000;
}

#radio6:checked ~ .navigation-auto .auto6 {
  background-color: #000;
}

#radio7:checked ~ .navigation-auto .auto7 {
  background-color: #000;
}

#radio8:checked ~ .navigation-auto .auto8 {
  background-color: #000;
}

#radio9:checked ~ .navigation-auto .auto9 {
  background-color: #000;
}

#radio10:checked ~ .navigation-auto .auto10 {
  background-color: #000;
}

#radio11:checked ~ .navigation-auto .auto11 {
  background-color: #000;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

#radio6:checked ~ .first {
  margin-left: -100%;
}

#radio7:checked ~ .first {
  margin-left: -120%;
}

#radio8:checked ~ .first {
  margin-left: -140%;
}

#radio9:checked ~ .first {
  margin-left: -160%;
}

#radio10:checked ~ .first {
  margin-left: -180%;
}

#radio11:checked ~ .first {
  margin-left: -200%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  overflow: hidden;
}

small {
  font-size: 1rem;
  text-shadow: 2px 1px white;
  color: #fff;
  font-style: italic;
  letter-spacing: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slider .slides {
  width: 500%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slides input {
  display: none;
}

.slider .slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.slider .slide img {
  width: 800px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .slide img:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.slider .navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .navigation-manual .manual {
  border: 2px solid #000;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.slider .navigation-manual .manual:hover {
  background-color: #000;
}

.slider .navigation-manual .manual:not(:last-child) {
  margin-right: 40px;
}

.slider #radio1:checked ~ .first {
  margin-left: 0;
}

.slider .navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 460px;
}

.slider .navigation-auto div {
  border: 2px solid #000;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.slider .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

.img-zoom-container {
  width: 250px;
  height: 250px;
  position: relative;
  margin-left: -80%;
}

.img-zoom-lens {
  position: absolute;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  display: none;
  position: absolute;
  border: 1px solid #d4d4d4;
  top: 15%;
  left: 0;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

.btns {
  height: 8%;
  position: absolute;
  bottom: 0;
  width: 23%;
  margin-right: 79%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btns a {
  text-decoration: none;
  margin-left: 5%;
  font-size: 1rem;
  text-shadow: 2px 1px white;
  color: #fff;
  font-style: italic;
}

svg {
  cursor: pointer;
  position: absolute;
}

#left {
  display: none;
  left: 25%;
  top: 50%;
}

#right {
  left: 73%;
  top: 50%;
}
/*# sourceMappingURL=style.css.map */