/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

$blue:#2b8fd1;

body{
    background-color: white;
}

.wrapper{
    .header{
        z-index: 1;
        background: #fff;
        position: fixed;
        width: calc(100% - 0%);
        height: 50px;
        display: flex;
        top: 0;

        .header-menu{
            width: calc(100% - 0%);
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;  
        }

        a{
            color: gray;
            margin: 0 10px;
            font-size: 18px; 
            transition: 0.3s;
            transition-property: background,color;
            &:hover{
                color: #000;
            }      
        }

        .sidebar-btn{
            color: gray;
            // position: absolute;
            margin-left: 240px;
            font-size: 22px;
            font-weight: 900;
            cursor: pointer;
            transition: 0.3s;
            transition-property: color;
            &:hover{
                color: #000;
            }
        }
    }

    .sidebar{
        z-index: 1;
        background: #2F323A;
        position: fixed;
        top: 0px;
        width: 250px;
        // height: calc(100% -9%)
        min-height: 100vh;
        transition: 0.3s;
        transition-property:width;
        overflow-y: auto;

        .sidebar-menu{
            overflow: hidden;

            .profile{
                height: 100px;
                div{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 25px 15px;
                    height: 50%;
                    border-bottom: 1px solid gray;
                }

                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin: 20px 5px;
                    &:hover{
                        cursor: pointer;
                    }
                }

                span{
                    color: gray;
                }
            }

            .item{
                width: 250px;
                overflow: hidden;

                .menu-btn{
                    display: block;
                    color: #fff;
                    position: relative;
                    padding: 15px 10px;
                    transition: 0.3s;
                    transition-property:color;

                    &:hover{
                        background-color: $blue;
                    }

                    i{
                        margin-right: 20px;
                    }

                    .red{
                        background-color: red;
                        float: right;
                        padding: 0 .3em;
                        font-weight: bold;
                        border-radius: 4px;
                    }

                    .blue{
                        background-color: rgb(33, 158, 180);
                        margin-left: 15%;
                        padding: 0 .3em;
                        font-weight: bold;
                        border-radius: 4px;
                    }
                    
                    .fa-angle-left{
                        float: right;
                        font-size: 18px;
                        margin-top: 3px;
                        margin-right: 3px;
                    }
                    .left{
                        transition: 0.4s ease-in-out;
                        transform: rotate(-90deg);
                    }
                }

                .sub-menu{
                    overflow: hidden;
                    max-height: 0; //#
                    transition: 0.3s;
                    transition-property: background, max-height; 

                    a{
                        display: block;
                        position: relative;
                        color: #fff;
                        white-space: nowrap;
                        font-size: 15px;
                        padding: 15px 5px;
                        transition: 0.3s;
                        transition-property: background;
                        &:hover{
                            background: $blue;
                        }
                    }

                    i{
                        margin: 0 5px;
                        padding:0;
                        font-size: 16px;
                    }

                    span{
                        margin-left: 10px;
                    }
                }
  
                &:target .sub-menu{
                    max-height: 500px;
                }
            } 
        }
    }

    .main-container{
        width: calc(100% - 250px);
        margin-top: 50px;
        margin-left: 250px;
        padding: 15px;
        background-color: rgb(185, 177, 177);
        height: 100vh;
        color: #000;
        transition: 0.3s;
    }
}

// COLLAPSE
.wrapper.collapse{

    .sidebar{
        width: 70px;
    }

    .sidebar .sidebar-menu .item .menu-btn{
        font-size: 23px;
        padding: 15px 20px;
    }

    .sidebar .sidebar-menu .item .sub-menu i{
        font-size: 24px;
        padding-left: 15px;
        margin: 0;
    }

    .main-container{
        width: calc(100% - 70px);
        margin-left: 70px;
    }

    .sidebar-btn{
        margin-left: 70px !important;
    }

    .sidebar .profile span,
    .sidebar input,
    .sidebar a span{
        display: none;
    }  

    .sidebar .profile img{
        width: 40px;
        height: 40px;
        margin: 5px 0;
    }

    .sidebar .profile {
        height: 110px;

        div{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}



    